* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cormorant", serif;
}

.main-header {
  margin: 32px;
}

.main-header__title {
  display: inline-block;
  font-weight: 600;
  margin: 0 32px 0 0;
}

.main-header__nav {
  display: inline-block;
}

.main-header__nav-item {
  display: inline-block;
}

.main-header__nav-item a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  margin: 0 8px;
}

a.active-item {
  border-bottom: 1px solid black;
}

.gallery {
  padding: 16px;
}

.card {
  width: 49.75%;
  display: inline-block;
  box-sizing: border-box;
  padding: 16px;
}

.card img {
  height: 850px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  display: inline-block;
  margin: 8px 0 16px 0;
  font-weight: 300;
}
